################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Builder/obj
/Builder/bin/Debug/net6.0
/GeneralTests/obj/Debug/net6.0
/GeneralTests/bin/Debug/net6.0
/GeneralTests/obj
/Factory/obj
/Factory/bin/Debug/net6.0
/Creational/Builder/obj
/Creational/Builder/bin/Debug/net6.0
/Creational/Prototype/obj
/Creational/Prototype/bin/Debug/net6.0
/Creational/Factory/obj
/Creational/Factory/bin/Debug/net6.0
/Creational/bin/Debug/net6.0
/Creational/obj/Debug/net6.0
/Creational/obj
/Structural/bin/Debug/net6.0
/Structural/obj
/Behavioral/bin/Debug/net6.0
/Behavioral/obj
