################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Builder/obj
/Builder/bin/Debug/net6.0
